@import "styles/modules-left.css";
@import "styles/modules-center.css";
@import "styles/modules-right.css";
@import "theme.css";

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
}

/* main outline */

window#waybar {
  background-color: @transparent;
}

/* main background */

window#waybar>box {
  margin: 4px;
  background-color: @outline;
  border-radius: 24px;
}

/* states */

.deactivated,
.paused,
#pulseaudio:hover {
  color: @hover-popup;
  background-color: @transparent;
}

#pulseaudio.output.muted,
#pulseaudio.input.source-muted {
  background-image: -gtk-gradient(radial,
      center center, 0,
      center center, 0.60,
      from(alpha(@microphone-inactive, 0.5)),
      color-stop(1.0, alpha(@microphone-inactive, 0.0)),
      to(transparent));
  background-repeat: no-repeat;
  background-size: 100% 80%;
  background-position: calc(50% + 2px) 50%;
}

#pulseaudio.input {
  background-image: -gtk-gradient(radial,
      center center, 0,
      center center, 0.60,
      from(alpha(@microphone-active, 0.9)),
      color-stop(1.0, alpha(@microphone-active, 0.0)),
      to(transparent));
  background-repeat: no-repeat;
  background-size: 100% 80%;
  background-position: calc(50% + 2px) 50%;
}

#wireplumber.muted {
  color: @hover-popup;
}

.warning {
  color: @warning;
}

.critical {
  color: @critical;
}

.charging {
  color: @charging;
}

/* dividers */

#custom-left_div,
#custom-left_inv,
#custom-right_div,
#custom-right_inv {
  font-size: 10px;
}

/* tooltips */

tooltip {
  border: 2px solid @tooltip-accent;
  border-radius: 18px;
  background-color: @tooltip-main-bg;
}

tooltip label {
  margin: 4px 4px;
  font-weight: normal;
}

tooltip decoration {
  border: none;
  background-color: @transparent;
}
