/* ~/.config/wofi/style.css
   Catppuccin Mocha (GTK3 compatible, compact, shrink-to-fit)
*/

@import ".config/theme.css";

/* 🪟 Base window - minimal padding and margin */
#window {
  background-color: @tooltip-main-bg;
  border-radius: 12px;
  padding: 2px;
  margin: 2px;
  border: 10px solid alpha(@hover-popup, 0.1);
}

#outer-box {
  border-radius: 12px;
  padding: 8px;
  margin: 12px;
}

#input {
  background-color: @base;
  border-radius: 12px;
  padding: 8px 6px;
  margin-bottom: 6px;
  font-family: "JetBrains Mono Nerd Font", monospace;
  font-size: 14px;
  color: @main-fg;
}

#entry {
  background-color: @mantle-alpha;
  border-radius: 10px;
  padding: 6px 6px;
  margin-bottom: 4px;
  border: 1px solid rgba(255, 255, 255, 0.06);
  font-family: "JetBrains Mono Nerd Font", monospace;
  font-size: 14px;
}

#img {
  margin-right: 6px;
  border-radius: 4px;
  background-color: transparent;
}

#no-results {
  color: @crust-alpha;
  font-size: 14px;
  padding: 8px;
}

#entry:hover {
  background-color: @base-alpha;
}


#scroll {
  background-color: transparent;
  border: none;
}
