/* media info */

#mpris {
  padding: 0 24px 0 0px;
  font-weight: normal;
  color: @text;
  border-radius: 24px;
  /* default text color */
  background-color: @transparent;
}

#mpris:hover {
  color: @hover-popup;
  background-color: @transparent;
}

/* Properly visible stopped state */
#mpris.paused {
  color: @hover-popup;
}

/* volume */

#custom-left_div.6 {
  color: @base;
}

#pulseaudio,
#wireplumber {
  background-color: @modules-background;
}

#custom-left_div.8 {
  background-color: @modules-background;
}

#custom-left_div.7 {
  background-color: @modules-background;
}

#custom-left_inv.2 {
  background-color: @modules-background;
}


/* brightness */

#backlight {
  color: @text;
  background-color: @modules-background;
}

#backlight:hover {
  color: @hover-popup;
  background-color: @transparent;
}

/* battery */

#battery {
  background-color: @modules-background;
}

#battery:hover {
  color: @hover-popup;
  background-color: @transparent;
}

/* power menu */

#custom-power_menu {
  border-radius: 16px;
  padding: 0 19px 0 16px;
  font-size: 20px;
  color: @text;
}

#custom-power_menu:hover {
  background-color: @hover-popup;
}
