/* window count */

#windowcount {
	margin-right: 12px;
}
#windowcount label {
	color: @text;
}

/* temperature */

#custom-left_div.2 {
	color: @temperature;
}
#temperature {
	background-color: @modules-background;
}

/* memory */

#custom-left_div.3 {
	background-color: @modules-background;
	color: @memory;
}
#memory {
	background-color: @modules-background;
}

/* cpu */

#custom-left_div.4 {
	background-color: @modules-background;
}
#cpu {
	background-color: @modules-background;
}
#cpu:hover {
  color: @hover-popup;
	background-color: @transparent;
}
#custom-left_inv.1 {
	color: @cpu;
}

/* distro icon */

#custom-left_div.5,
#custom-right_div.2 {
	color: @text;
}
#custom-distro {
	padding: 0 10px 0 5px;
	font-size: 22px;
	background-color: @modules-background;
	color: @main-bg;
}

/* idle inhibitor & time */
#idle_inhibitor:hover
{
  color: @hover-button;
  background-color: @transparent;
}

#custom-right_inv.1 {
	color: @time;
}
#idle_inhibitor {
	background-color: @modules-background;
}
#clock.time {
	padding-right: 6px;
	background-color: @modules-background;
}
#clock.time:hover{
  color: @hover-popup;
  background-color: @transparent;
}
#custom-right_div.3 {
	background-color: @modules-background;
	color: @time;
}

/* date */

#clock.date {
	padding-left: 6px;
	background-color: @modules-background;
}
#clock.date:hover
{
  color: @text;
  background-color: @hover-button;
}
#custom-right_div.4 {
	background-color: @modules-background;
	color: @date;
}

/* quick settings */

#network {
	background-color: @modules-background;
	padding: 0 6px 0 4px;
}
#network:hover
{
  color: @text;
  background-color: @hover-button;
}

#bluetooth {
	background-color: @modules-background;
	padding: 0 5px;
}
#bluetooth:hover
{
  color: @text;
  background-color: @hover-button;
}

#custom-system_update {
	background-color: @modules-background;
	padding: 0 8px 0 2px;
}
#custom-system_update:hover
{
  color: @text;
  background-color: @hover-button;
}

#custom-right_div.5 {
	color: @modules-background;
}

