/* theme switcher */
#custom-theme_switcher:hover {
  color: @hover-nothing;
  background-color: @transparent;
}

#custom-user {
  padding-right: 12px;
  font-weight: normal;
}


#custom-left_div.1,
#custom-right_div.1 {
  color: @workspaces;
}

/* workspaces */

#workspaces {
  padding: 0 12px;
  background-color: @modules-background;
}

#workspaces button {
  background-color: @transparent;
  color: @text;
  box-shadow: none;
  text-shadow: none;
  border-radius: 24px;
  padding: 0 12px;
}

#workspaces button.visible{
  color: @selection;
  /* background circle (glow) */
  background-image: -gtk-gradient(radial,
      center center, 0,
      center center, 0.56,
      from(alpha(@maroon, 1.0)),
      color-stop(1.0, alpha(@flamingo, 0.0)),
      to(transparent));
  background-repeat: no-repeat;
  background-size: 90% 80%;
  background-position: calc(50% + 2px) 50%;
}

/* window title */

#window {
  margin-left: 0px;
}

#window label {
  font-weight: normal;
}
