/* media info */

#mpris {
  padding: 0 12px;
  font-weight: normal;
}
#mpris:hover
{
  color: @hover-nothing;
  background-color: @transparent;
}

/* volume */

#custom-left_div.6 {
  color: @base;
}

#pulseaudio,
#wireplumber {
  background-color: @;
}
#custom-left_div.8 {
  background-color: @modules-background;
}
#custom-left_div.7 {
  background-color: @modules-background;
}
#custom-left_inv.2 {
  background-color: @modules-background;
}


/* brightness */

#backlight {
  color: @text;
  background-color: @modules-background;
}
#backlight:hover{
  color: @hover-nothing;
  background-color: @transparent;
}

/* battery */

#battery {
  background-color: @modules-background;
}
#battery:hover{
  color: @hover-popup;
  background-color: @transparent;
}

/* power menu */

#custom-power_menu {
  border-radius: 16px;
  padding: 0 19px 0 16px;
  font-size: 20px;
  color: @text;
}

#custom-power_menu:hover {
  color: @text;
  background-color: @hover-button;
}
