/* window count */
#modules-center {}

#windowcount {
  margin-right: 12px;
}

#windowcount label {
  color: @text;
}

/* temperature */

#custom-left_div.2 {
  color: @temperature;
}

#temperature {
  background-color: @modules-background;
}

#temperature:hover {
  color: @hover-popup;
  background-color: @transparent;
}

/* memory */

#custom-left_div.3 {
  background-color: @modules-background;
  color: @memory;
}

#memory {
  background-color: @modules-background;
}

#memory:hover {
  color: @hover-popup;
  background-color: @transparent;
}

/* cpu */

#custom-left_div.4 {
  background-color: @modules-background;
}

#cpu {
  background-color: @modules-background;
}

#cpu:hover {
  color: @hover-popup;
  background-color: @transparent;
}

#custom-left_inv.1 {
  color: @cpu;
}

/* distro icon */

#custom-left_div.5,
#custom-right_div.2 {
  color: @text;
}

#custom-distro {
  padding: 0 5px 0 5px;
  font-size: 22px;
  background-color: @modules-background;
  color: @hover-popup;
}

/* idle inhibitor & time */

#idle_inhibitor {
  padding: 0 0px 0 0px;
  background-color: @modules-background;
}

#idle_inhibitor:hover {
  color: @hover-popup;
  background-color: @transparent;
}

#custom-right_inv.1 {
  color: @time;
}


#clock.time {
  padding: 0 4px 0 12px;
  background-color: @modules-background;
}

#clock.time:hover {
  color: @hover-popup;
  background-color: @transparent;
}

#custom-right_div.3 {
  background-color: @modules-background;
  color: @time;
}

/* date */

#clock.date {
  padding-left: 0px;
  background-color: @modules-background;
}

#clock.date:hover {
  color: @hover-popup;
  background-color: @hover-button;
}

#custom-right_div.4 {
  background-color: @modules-background;
  color: @date;
}

/* quick settings */

#network {
  background-color: @modules-background;
  padding: 0 6px 0 4px;
}

#network:hover {
  color: @hover-popup;
  background-color: @hover-button;
}

#bluetooth {
  background-color: @modules-background;
  padding: 0 5px;
}

#bluetooth:hover {
  color: @hover-popup;
  background-color: @hover-button;
}

#custom-system_update {
  background-color: @modules-background;
  padding: 0 50px 0 2px;
}

#custom-system_update:hover {
  color: @hover-popup;
  background-color: @transparent;
}

#custom-right_div.5 {
  color: @modules-background;
}
